<div class="main-agile">
    <div class="banner-w3l-2">
        <!-- header -->
        <div class="banner-w3l-2">
            <!-- header -->
            <div ng-include="'pages/home/nav.html'"></div>
        </div>
    </div>
</div>
<div class="services-breadcrumb">
	<div class="agile_inner_breadcrumb">
	   <ul class="w3_short">
			<li><a href="index.html">Home</a><i>||</i></li>
			<li>Add business</li>
		</ul>
	</div>
</div>
<!-- //w3_short -->
<!-- blog -->
	<div class="blog">
			<!-- container -->
			<div class="container">
                <div class="col-md-9 w3_contact_grid">
                    <form action="#" method="post">
                        <div class="col-md-6 wthree_contact_grid_left">
                            <input type="text" name="Company Name" ng-model="name" placeholder="Company Name" required="">
                            <input type="email" name="Email" ng-model="email" placeholder="Email" required="">
                            <input type="tel" name="Name" ng-model="number" placeholder="Tel Number" required="">
                            <textarea placeholder="Address..." ng-model="address" required=""></textarea>
                        </div>
                        <div class="col-md-6 wthree_contact_grid_right">
                           
                            <input type="text" name="Website Url" ng-model="weburl" placeholder="Email" required="">
                            <input type="password" name="Create Password" ng-model="pass" placeholder="Create Password" required="">
                            <textarea placeholder="Services..." ng-model="notes" required=""></textarea>
                           Company Logo:  <input type="file" name="Profile Pic" ng-model="name" placeholder="Name" required="">
                            <input type="submit" ng-click="SendMail()" value="Submit">
                        </div>
                    </form>
                </div>
                <div class="clearfix"> </div>			 
			</div>
			<!-- //container -->
	</div>
	<!-- //blog -->

 `id`, `name`, `email`, `tel`, `address`, `pass`, `image`, `notes`, `date_created`, `weburl`, `status`